.container{
    margin-top: 15px;
    margin-bottom: 15px;
    letter-spacing: 0.10rem;
}

h1{
    text-decoration: underline;
    text-decoration-color: rgb(255, 234, 0);
}

img {
    border-radius: 25%;
}

body {
    background-image: url(./fondocurriculo.jpg);
}