:root {
  --first-column-width: 64%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

main {
  display: grid;
  grid-template-columns: var(--first-column-width) 36%;
  grid-template-rows: auto auto;
  height: min-content;
  margin: 30px;
  gap: 25px;
  grid-template-areas: "photo work" "about education";
  /* We might have to tweak this value */
  max-width: 70%;
  box-shadow: 0px 2px 22px 0px #0000006e;
  margin: 20px auto 20px;
  background: linear-gradient(
    90deg,
    #b7b7b7b9 var(--first-column-width),
    #ffffff 50%
  );
}

h1 {
  text-decoration: solid;
  font-size: larger;
  margin: 15px;
}

h3 {
  font-style: italic;
  text-align: center;
}

p {
  text-align: justify;
  line-height: 1.5em;
  padding: 20px;
}

a:visited {
  color: #031ed3;
}

b {
  font-size: 1.5rem;
  line-height: 1.5em;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

.box {
  text-align: center;
  padding: 50px;
}

.photo,
.about {
  height: fit-content;
}

.photo {
  grid-area: photo;
}

.work {
  grid-area: work;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  grid-area: about;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.education {
  grid-area: education;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialmedia {
  display: flex;
  text-align: center;
  margin: 3em;
  justify-content: space-between;
  font-size: 2em;
}

.socialmedia > a:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: #000000;
}

.profile > img {
  width: 300px;
  border-radius: 100%;
  margin: 50px;
  align-self: bottom;
}

.name {
  font-size: 2em;
  text-justify: distribute;
}

.work > div {
  display: flex;
  align-items: center;
  display: block;
  height: auto;
  width: 350px;
}

.box > div > div {
  text-align: center;
  padding: 50px;
  font-size: 1.25em;
  line-height: 1.75em;
}

.skills > ul {
  padding: 20px;
  line-height: 2em;
  text-align: justify;
  font-size: 1.75em;
}

@media only screen and (min-width: 960px) {
  main {
    border: 2px solid purple;
    gap: 0;
  }

  hr {
    width: 80%;
  }

  .work {
    height: 100%;
    line-height: 1em;
  }

  .photo,
  .about {
    height: auto;
    padding: 25px;
  }

  .photo {
    display: block;
    align-content: center;
    justify-content: center;
  }

  .socialmedia {
    justify-content: space-around;
    gap: 20px;
  }

  .education {
    height: auto;
    padding: 25px;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  body {
    border: 2px solid blue;
    font-size: 0.65em;
    line-height: 1.25;
  }
  .box {
    padding: 40px;
  }

  .photo,
  .about {
    height: 80%;
  }

  .socialmedia {
    justify-content: space-between;
    gap: 20px;
  }

  .education {
    height: 50%;
  }
}

@media only screen and (max-width: 600px) {
  main {
    border: 5px solid red;
    max-width: none;
    grid-template-areas: "photo photo" "work work" "about about" "education education";
    grid-template-columns: auto auto;
    margin: 0;
    gap: 0;
  }
}
