:root {
  --first-column-width: 64%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  line-height: 1.5em;
}

main {
  display: grid;
  grid-template-columns: var(--first-column-width) 36%;
  grid-template-rows: auto auto;
  height: min-content;
  margin: 30px;
  gap: 25px;
  grid-template-areas: "photo work" "about education";
  max-width: 70%;
  box-shadow: 0px 2px 22px 0px #0000006e;
  margin: 20px auto 20px;
  background: linear-gradient(
    90deg,
    #b7b7b7b9 var(--first-column-width),
    #ffffff 50%
  );
}

h1 {
  text-decoration: solid;
  font-size: larger;
  margin: 15px;
}

h3 {
  font-style: italic;
  text-align: center;
  color: #031ed3;
}

p {
  text-align: justify;
  line-height: 1.5em;
  padding: 20px;
}

a:visited {
  color: #031ed3;
}

b {
  font-size: 1.5rem;
  line-height: 1.5em;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

div > .titles {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
}

.box {
  text-align: center;
  padding: 50px;
  font-size: 1.25em;
  line-height: 1.75em;
}

.box > div {
  display: block;
  justify-content: center;
  align-items: center;
}

.box > div > div {
  display: block;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  word-spacing: normal;
  padding: 20px;
  height: fit-content;
}

.photo,
.about {
  height: fit-content;
}

.photo {
  grid-area: photo;
}

.work {
  grid-area: work;
  display: block;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  text-align: center;
}

.about {
  grid-area: about;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.education {
  grid-area: education;
  display: block;
  justify-content: center;
  align-items: center;
  line-height: 1em;
}

.socialmedia {
  display: block;
  text-align: center;
  margin: 2em;
  justify-content: space-between;
  font-size: 2em;
}

.socialmedia > a:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: #000000;
}

.profile > img {
  width: 300px;
  border-radius: 100%;
  margin: 50px auto;
  display: block;
}

div.name {
  font-size: 1.75em;
  text-align: center;
  display: block;
}

.work > div {
  display: block;
  align-items: center;
  height: auto;
  width: 350px;
}

div.skills {
  display: block;
}

.skills > ul {
  padding: 20px;
  line-height: 2em;
  text-align: justify;
  font-size: 1em;
}

@media only screen and (min-width: 960px) {
  main {
    gap: 0;
  }

  hr {
    width: 100%;
  }

  div.socialmedia {
    justify-content: space-between;
    gap: 200px;
  }

  .box {
    padding: 10px;
    display: block;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .work,.education {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  body {
    font-size: 0.65em;
    line-height: 1.25;
  }

  main {
    max-width: none;
    gap: 0;
    margin:20px;
  }

  b {
    font-size: 1.4em;
  }
  .box {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

}

@media (min-width: 200px) and (max-width: 600px) {
  main {
    margin: 20px;
    grid-template-areas: "photo photo" "work work" "about about" "education education";
    grid-template-columns: auto auto;
    gap: 0;
    max-width: none;
  }

  b {
    font-size: 20px;
  }

  h1 {
    margin: 0;
  }

  div.name {
    font-size: 1.4em;
    text-align: center;
  }

  .box {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  div.socialmedia {
    justify-content: space-between;
    gap: 200px;
  }
}

@media print {

  main {
    box-shadow: none;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "photo photo" "work education" "about about";
    padding: 30px;
    margin-bottom: 50px;
    height: 100%;
  }

  body {
    font-family:sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    padding: 15px;
    height: max-content;
  }
  
  img {
    max-width: 100px;
  }

  hr {
    display: none;
  }

  .box {
    text-align: center;
    line-height: 1em;
    padding-bottom: 20px;
  }

  h3 {
    padding: 35px;
  }

  .skills {
    margin-bottom: none;
    padding-bottom: none;
  }

  section.box.photo {
    margin: 1em;
    padding: none;
  }



  

 

 


}
